version: '3.7'

networks:
  lan:
    driver: ipvlan
    driver_opts:
      parent: enp1s0
    ipam:
      driver: default
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1

services:
  test:
    image: dnsmasq
    networks:
      lan:
        ipv4_address: 192.168.0.3
    volumes:
      - ./config:/config
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=0
      - PGID=0
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "3"
